# Salin file ini menjadi .env lalu sesuaikan nilainya

# Database (SQLite lokal via libsql). Untuk Turso gunakan URL libsql:// + token.
DATABASE_URL=file:./local.db
DATABASE_AUTH_TOKEN=

# Better Auth
BETTER_AUTH_SECRET=ganti-dengan-string-acak-32-byte
BETTER_AUTH_URL=http://localhost:3000

# Kode rahasia untuk mendaftar sebagai Guru
GURU_INVITE_CODE=ganti-dengan-kode-rahasia


NEXT_PUBLIC_APP_URL=http://localhost:3000
